{% load static %}

{% if messages %}
    {% for message in messages %}
        <div id="notification-{{ forloop.counter }}" 
             class="position-fixed start-50 translate-middle-x z-3 alert fade show custom-shadow {% if message.tags == 'success' %}alert-success{% elif message.tags == 'warning' %}alert-warning{% else %}alert-info{% endif %}" 
             role="alert">
            {{ message }}
        </div>
    {% endfor %}
{% else %}
<div id="jq-notification" class="position-fixed start-50 translate-middle-x z-3 alert alert-success fade show custom-shadow" style="display: none;" role="alert">
</div>
{% endif %}